/* line 3, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_mixins.scss */
.h1-font, h1 {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 22px;
}

/* line 10, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_mixins.scss */
.h2-font, h2 {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 16, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_mixins.scss */
.box, *, #awards-page .awards > div, #clients-page .awards > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_mixins.scss */
.fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/* line 27, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_mixins.scss */
.row-height, #top-boxes .row, #middle-boxes .row {
  height: 30vh;
  height: 300px;
}

/* line 6, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_repeat.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 14, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_repeat.scss */
.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
/* line 16, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_repeat.scss */
* html .clearfix {
  height: 1%;
}

/* line 17, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_repeat.scss */
.clearfix {
  display: block;
}

/* close commented backslash hack */
/* line 20, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_repeat.scss */
h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Roboto", sans-serif;
}

/* line 35, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_repeat.scss */
p {
  font-weight: 300;
  font-size: 14px;
}

/* line 40, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_repeat.scss */
html, body, main {
  height: 100%;
}

/* line 42, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_repeat.scss */
button {
  background-color: transparent;
  border: 1px solid #414042;
  padding: 1.5em 2em;
  color: #414042;
  text-transform: uppercase;
  box-shadow: 0 0px 0 rgba(255, 255, 255, 0.5) inset;
  margin: 0 auto;
  display: block;
  font-weight: 300;
}
/* line 53, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_repeat.scss */
button:hover, button:active, button:focus {
  background-color: transparent;
  border: 1px solid white;
  padding: 1.5em 2em;
  color: white;
  text-transform: uppercase;
  box-shadow: 0 0px 0 rgba(255, 255, 255, 0.5) inset;
}

/* line 63, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_repeat.scss */
header {
  position: absolute;
  width: 100%;
}

/* line 67, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_repeat.scss */
.page-wrapper {
  position: relative;
}

/* line 71, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_repeat.scss */
nav {
  position: relative;
  width: 100%;
}
/* line 74, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_repeat.scss */
nav li {
  float: right;
  list-style-type: none;
  display: inline-block;
  padding: 2%;
  line-height: 16px;
}
/* line 80, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_repeat.scss */
nav li a {
  color: #414042;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 15px;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
/* line 87, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_repeat.scss */
nav li a:hover, nav li a:active, nav li a:focus {
  color: #f47920;
}

/* line 94, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_repeat.scss */
#footer {
  background-color: #414042;
  color: #cbcbcd;
  font-size: 10px;
  padding: 10px 5%;
}
/* line 99, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_repeat.scss */
#footer a {
  color: white;
}
/* line 101, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_repeat.scss */
#footer a:hover {
  color: #f47920;
}

/* line 16, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#hero {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  background: #414042 url("../img/hero-img.png") center center/cover no-repeat;
}
/* line 23, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#hero img {
  vertical-align: middle;
  width: 30%;
  margin: 0 auto;
  display: block;
}

/* line 32, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#top-blurb {
  height: 600px;
  height: 70vh;
  background-image: url("../img/fish.png");
  background-position: 96% 4%;
  background-size: 20%;
  background-repeat: no-repeat;
}
/* line 39, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#top-blurb b {
  font-weight: 400;
}
/* line 43, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#top-blurb div {
  max-width: 568px;
  margin: 19% auto;
}
/* line 46, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#top-blurb div h1, #top-blurb div p {
  color: #414042;
  text-align: center;
}

/* line 53, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#top-boxes .row {
  max-width: none;
}
/* line 56, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#top-boxes .row div {
  display: inline-block;
  float: left;
  height: 100%;
  text-align: center;
}
/* line 61, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#top-boxes .row div h2 {
  font-weight: 300;
  color: white;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 68, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#top-boxes .row:first-child .small-8 {
  background-color: #414042;
}
/* line 71, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#top-boxes .row:first-child .small-4 {
  background-color: #f47920;
}
/* line 76, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#top-boxes .row:nth-child(2) .small-4 {
  background-color: #f47920;
}
/* line 79, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#top-boxes .row:nth-child(2) .small-8 {
  background-color: #f6eb16;
}
/* line 81, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#top-boxes .row:nth-child(2) .small-8 h2 {
  color: #414042;
}

/* line 88, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#middle-blurb {
  background-image: url("../img/orange-background.jpg");
  background-size: cover;
  margin: 0;
  max-width: none;
}
/* line 93, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#middle-blurb div {
  max-width: 458px;
  margin: 19% auto;
}
/* line 96, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#middle-blurb div h2, #middle-blurb div p {
  color: #414042;
  text-align: center;
}
/* line 100, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#middle-blurb div h2 {
  margin-bottom: 40px;
}

/* line 108, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#middle-boxes .row {
  max-width: none;
}
/* line 111, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#middle-boxes .row div {
  display: inline-block;
  float: left;
  height: 100%;
  text-align: center;
}
/* line 116, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#middle-boxes .row div h2 {
  color: white;
  font-weight: 200;
  padding: 22% 0;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 124, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#middle-boxes .row .small-4:first-child {
  background-color: #f47920;
}
/* line 127, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#middle-boxes .row .small-4:nth-child(2) {
  background-color: #f6eb16;
}
/* line 129, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#middle-boxes .row .small-4:nth-child(2) h2 {
  color: #414042;
}
/* line 133, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#middle-boxes .row .small-4:nth-child(3) {
  background-color: #414042;
}

/* line 140, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#our-people {
  text-align: center;
}
/* line 142, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#our-people > div {
  margin: 5% 20%;
}
/* line 144, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#our-people > div h2 {
  color: #414042;
  text-align: center;
  margin-bottom: 40px;
}
/* line 150, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#our-people > div .row .small-3 {
  display: inline-block;
  overflow: hidden;
  float: left;
}
/* line 155, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#our-people > div .row .small-3 h6 {
  margin-top: 0;
  font-weight: lighter;
  font-size: 12px;
  text-align: center;
  margin: 88% 0 0;
  padding: 3px 0;
  color: black;
  letter-spacing: 0.5px;
}
/* line 167, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#our-people > div .row .small-3 span {
  z-index: 10;
  opacity: 0;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
/* line 179, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#our-people > div .row .small-3 img {
  z-index: 0;
  opacity: 1;
  width: 100%;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
/* line 188, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#our-people > div .row .small-3:hover img, #our-people > div .row .small-3:active img, #our-people > div .row .small-3:focus img {
  transform: scale(1.05);
  opacity: .6;
}
/* line 193, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#our-people > div .row .small-3:hover span, #our-people > div .row .small-3:active span, #our-people > div .row .small-3:focus span {
  opacity: 1;
}

/* line 213, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#contact {
  height: 900px;
  height: 100vh;
}

/* line 217, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
.form {
  float: left;
  width: 70%;
  height: 100%;
  background-color: #414042;
  color: white;
  padding: 13% 5%;
}
/* line 224, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
.form .form-inner {
  margin: 0 auto;
  max-width: 42.54rem;
}
/* line 228, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
.form h2 {
  color: #cbcbcd;
  font-weight: 300;
}
/* line 232, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
.form label {
  color: #cbcbcd;
  font-weight: lighter;
  width: 15%;
  display: inline-block;
}
/* line 238, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
.form textarea, .form input {
  background: #414042;
  border: #414042;
  width: 84%;
  display: inline-block;
  color: #cbcbcd;
  font-weight: 300;
}
/* line 246, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
.form textarea:hover, .form textarea:focus, .form textarea:active, .form input:hover, .form input:focus, .form input:active {
  background-color: #414042;
  border: 1px solid #cbcbcd;
  color: #cbcbcd;
}
/* line 252, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
.form .button {
  background-color: #414042;
  border: 1px solid #cbcbcd;
  font-weight: 300;
  color: #cbcbcd;
  box-shadow: 0px 0px 0px red;
  width: auto;
}
/* line 260, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
.form .button:hover, .form .button:focus, .form .button:hover {
  color: white;
  border: 1px solid white;
  background-color: #414042;
}

/* line 267, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
.hours {
  float: left;
  width: 30%;
  height: 100%;
  background-color: #f6eb16;
  padding: 13% 5%;
}
/* line 273, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
.hours .hours-inner {
  max-width: 20rem;
  margin: 0 auto;
}
/* line 277, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
.hours h4, .hours p, .hours a {
  color: #414042;
  text-align: center;
}
/* line 281, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
.hours h4 {
  font-weight: 300;
}
/* line 284, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
.hours p {
  margin-bottom: 0;
}
/* line 287, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
.hours address {
  font-style: normal;
  font-weight: 300;
}

/* line 292, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#map {
  background-color: #414042;
}

/* line 300, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
#traffic-map {
  height: 400px;
  width: 550px;
}

/* line 304, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
.gm-style-iw * {
  display: block;
  width: 100%;
}

/* line 308, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
.gm-style-iw h4, .gm-style-iw p {
  margin: 0;
  padding: 0;
}

/* line 312, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_home.scss */
.gm-style-iw a {
  color: #4272db;
}

/* line 2, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_awards-clients.scss */
#awards-page, #clients-page {
  padding-top: 120px;
}
/* line 4, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_awards-clients.scss */
#awards-page .sub-heading, #clients-page .sub-heading {
  margin: 20px auto 50px;
  text-align: center;
}
/* line 7, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_awards-clients.scss */
#awards-page .sub-heading h1, #clients-page .sub-heading h1 {
  padding-bottom: 0;
}
/* line 10, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_awards-clients.scss */
#awards-page .sub-heading p, #clients-page .sub-heading p {
  font-size: 14px;
  color: #8c8a8f;
  max-width: 350px;
  margin: 0 auto;
  font-weight: 400;
  line-height: 17px;
}
/* line 19, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_awards-clients.scss */
#awards-page .awards, #clients-page .awards {
  max-width: 62.5em;
  width: 80%;
  margin: 0 auto 50px;
  text-align: center;
}
/* line 24, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_awards-clients.scss */
#awards-page .awards > div, #clients-page .awards > div {
  display: inline-block;
}
/* line 27, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_awards-clients.scss */
#awards-page .awards > div .img-wrap, #clients-page .awards > div .img-wrap {
  width: 100%;
  text-align: center;
}
/* line 31, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_awards-clients.scss */
#awards-page .awards > div img, #clients-page .awards > div img {
  max-width: 70%;
  max-height: 90%;
  margin: 0 auto 10px;
  display: inline;
  vertical-align: middle;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
/* line 38, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_awards-clients.scss */
#awards-page .awards > div img:hover, #awards-page .awards > div img:active, #awards-page .awards > div img:focus, #clients-page .awards > div img:hover, #clients-page .awards > div img:active, #clients-page .awards > div img:focus {
  transform: scale(1.05);
}

/* line 50, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_awards-clients.scss */
#awards-page > p {
  font-size: 12px;
}
/* line 52, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_awards-clients.scss */
#awards-page > p:last-child {
  margin-bottom: 10px;
}
/* line 56, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_awards-clients.scss */
#awards-page .awards > div {
  width: 32.333%;
  padding: 20px 2.4%;
}
/* line 59, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_awards-clients.scss */
#awards-page .awards > div h5, #awards-page .awards > div h6, #awards-page .awards > div p {
  font-size: 10px;
  margin: 0;
  text-align: center;
}
/* line 64, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_awards-clients.scss */
#awards-page .awards > div h5 {
  font-weight: 400;
}
/* line 67, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_awards-clients.scss */
#awards-page .awards > div h6 {
  font-weight: 200;
}
/* line 71, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_awards-clients.scss */
#awards-page .awards > div .img-wrap {
  height: 170px;
  line-height: 170px;
}

/* line 81, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_awards-clients.scss */
#clients-page .awards > div {
  width: 19%;
  padding: 10px 0;
}
/* line 84, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_awards-clients.scss */
#clients-page .awards > div .img-wrap {
  height: 120px;
  line-height: 120px;
}
/* line 88, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_awards-clients.scss */
#clients-page .awards > div img {
  margin: 0 auto;
}
/* line 91, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_awards-clients.scss */
#clients-page .awards > div:nth-child(11) {
  width: 39%;
}
/* line 94, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_awards-clients.scss */
#clients-page .awards > div:nth-child(11) img {
  max-width: 80%;
}
/* line 98, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_awards-clients.scss */
#clients-page .awards > div:nth-child(15), #clients-page .awards > div:nth-child(16), #clients-page .awards > div:nth-child(17), #clients-page .awards > div:nth-child(18) {
  width: 24%;
}

/** 
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  /* line 7, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_media.scss */
  #hero {
    height: 1024px;
  }
}
/** 
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  /* line 16, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_media.scss */
  #hero {
    height: 768px;
  }
}
/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40 / 71) {
  /* line 26, /Applications/MAMP/htdocs/Craft-test/public/assets/sass/_media.scss */
  #hero {
    height: 500px;
  }
}
