/* line 3, ../sass/_mixins.scss */
.h1-font, h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 22px;
}

/* line 10, ../sass/_mixins.scss */
.h2-font, h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 16, ../sass/_mixins.scss */
.box, *, #awards-page .awards > div, #clients-page .awards > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../sass/_mixins.scss */
.fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/* line 27, ../sass/_mixins.scss */
.row-height, #top-boxes .row, #middle-boxes .row {
  height: 300px;
  height: 30vh;
}

/* line 6, ../sass/_repeat.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 14, ../sass/_repeat.scss */
.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
/* line 16, ../sass/_repeat.scss */
* html .clearfix {
  height: 1%;
}

/* line 17, ../sass/_repeat.scss */
.clearfix {
  display: block;
}

/* close commented backslash hack */
/* line 20, ../sass/_repeat.scss */
h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Roboto", sans-serif;
}

/* line 31, ../sass/_repeat.scss */
h3 {
  font-size: 1.4rem;
}

/* line 35, ../sass/_repeat.scss */
p {
  font-weight: 300;
  font-size: 1rem;
}

/* line 40, ../sass/_repeat.scss */
a {
  font-size: 1rem;
}

/* line 44, ../sass/_repeat.scss */
html, body, main {
  height: 100%;
}

/* line 46, ../sass/_repeat.scss */
button {
  background-color: transparent;
  border: 1px solid #414042;
  padding: 1.5em 2em;
  color: #414042;
  text-transform: uppercase;
  box-shadow: 0 0px 0 rgba(255, 255, 255, 0.5) inset;
  margin: 0 auto;
  display: block;
  font-weight: 300;
}
/* line 57, ../sass/_repeat.scss */
button:hover, button:active, button:focus {
  background-color: transparent;
  border: 1px solid white;
  padding: 1.5em 2em;
  color: white;
  text-transform: uppercase;
  box-shadow: 0 0px 0 rgba(255, 255, 255, 0.5) inset;
}

/* line 67, ../sass/_repeat.scss */
header {
  position: absolute;
  width: 100%;
}

/* line 71, ../sass/_repeat.scss */
.page-wrapper {
  position: relative;
}

/* line 75, ../sass/_repeat.scss */
nav {
  position: relative;
  width: 100%;
}
/* line 78, ../sass/_repeat.scss */
nav li {
  float: right;
  list-style-type: none;
  display: inline-block;
  padding: 2%;
  line-height: 16px;
}
/* line 84, ../sass/_repeat.scss */
nav li a {
  color: #414042;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  padding-bottom: 15px;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
/* line 91, ../sass/_repeat.scss */
nav li a:hover, nav li a:active, nav li a:focus {
  color: #f47920;
}

/* line 98, ../sass/_repeat.scss */
#footer {
  background-color: #414042;
  color: #cbcbcd;
  font-size: 0.7rem;
  line-height: 1rem;
  padding: 10px 5%;
}
/* line 104, ../sass/_repeat.scss */
#footer a {
  color: white;
  font-size: 0.7rem;
}
/* line 107, ../sass/_repeat.scss */
#footer a:hover {
  color: #f47920;
}

/* line 3, ../sass/_home.scss */
#hero {
  width: 100%;
  vertical-align: middle;
  background: #414042 url("../img/hero-img.png") center center/cover no-repeat;
}
/* line 7, ../sass/_home.scss */
#hero img {
  position: relative;
  top: 48%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 60%;
  margin: 0 auto;
  display: block;
}

/* line 14, ../sass/_home.scss */
#top-blurb {
  background-image: url("../img/fish.png");
  background-position: 96% 4%;
  background-size: 20%;
  background-repeat: no-repeat;
}
/* line 19, ../sass/_home.scss */
#top-blurb b {
  font-weight: 400;
}
/* line 22, ../sass/_home.scss */
#top-blurb div {
  margin: 25% auto;
}
/* line 24, ../sass/_home.scss */
#top-blurb div h1, #top-blurb div p {
  color: #414042;
  text-align: center;
}

/* line 31, ../sass/_home.scss */
#top-boxes .row {
  width: 100%;
  max-width: none;
}
/* line 35, ../sass/_home.scss */
#top-boxes .row div {
  display: inline-block;
  height: 100%;
  text-align: center;
}
/* line 39, ../sass/_home.scss */
#top-boxes .row div h2 {
  font-weight: 300;
  color: white;
  position: relative;
  top: 48%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 46, ../sass/_home.scss */
#top-boxes .row:first-child .small-8 {
  float: right;
  background-color: #414042;
}
/* line 50, ../sass/_home.scss */
#top-boxes .row:first-child .small-4 {
  float: right;
  background-color: #f47920;
}
/* line 56, ../sass/_home.scss */
#top-boxes .row:nth-child(2) .small-4 {
  float: left;
  background-color: #f47920;
}
/* line 60, ../sass/_home.scss */
#top-boxes .row:nth-child(2) .small-8 {
  float: left;
  background-color: #f6eb16;
}
/* line 63, ../sass/_home.scss */
#top-boxes .row:nth-child(2) .small-8 h2 {
  color: #414042;
}

/* line 70, ../sass/_home.scss */
#middle-blurb {
  background-image: url("../img/orange-background.jpg");
  background-size: cover;
  margin: 0;
  max-width: none;
}
/* line 75, ../sass/_home.scss */
#middle-blurb div {
  margin: 40% auto;
}
/* line 77, ../sass/_home.scss */
#middle-blurb div h2, #middle-blurb div p {
  color: #414042;
  text-align: center;
}
/* line 81, ../sass/_home.scss */
#middle-blurb div h2 {
  margin-bottom: 5%;
}

/* line 88, ../sass/_home.scss */
#middle-boxes .row {
  max-width: none;
}
/* line 91, ../sass/_home.scss */
#middle-boxes .row div {
  display: inline-block;
  float: left;
  height: 100%;
  text-align: center;
}
/* line 96, ../sass/_home.scss */
#middle-boxes .row div h2, #middle-boxes .row div h2 a {
  font-size: 1.6rem;
  color: white;
  font-weight: 200;
  position: relative;
  top: 48%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 104, ../sass/_home.scss */
#middle-boxes .row .small-4:first-child {
  background-color: #f47920;
}
/* line 107, ../sass/_home.scss */
#middle-boxes .row .small-4:nth-child(2) {
  background-color: #f6eb16;
}
/* line 109, ../sass/_home.scss */
#middle-boxes .row .small-4:nth-child(2) h2 {
  color: #414042;
}
/* line 113, ../sass/_home.scss */
#middle-boxes .row .small-4:nth-child(3) {
  background-color: #414042;
}

/* line 120, ../sass/_home.scss */
#our-people {
  text-align: center;
}
/* line 122, ../sass/_home.scss */
#our-people > div {
  margin: 5% auto;
}
/* line 124, ../sass/_home.scss */
#our-people > div h2 {
  color: #414042;
  text-align: center;
  margin-bottom: 40px;
}
/* line 130, ../sass/_home.scss */
#our-people > div .row .small-3 {
  display: inline-block;
  overflow: hidden;
  float: left;
}
/* line 135, ../sass/_home.scss */
#our-people > div .row .small-3 h6 {
  margin-top: 0;
  font-weight: lighter;
  font-size: 12px;
  text-align: center;
  margin: 88% 0 0;
  padding: 3px 0;
  color: black;
  letter-spacing: 0.5px;
}
/* line 145, ../sass/_home.scss */
#our-people > div .row .small-3 span {
  z-index: 10;
  opacity: 0;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
/* line 154, ../sass/_home.scss */
#our-people > div .row .small-3 img {
  z-index: 0;
  opacity: 1;
  width: 100%;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
/* line 163, ../sass/_home.scss */
#our-people > div .row .small-3:hover img, #our-people > div .row .small-3:active img, #our-people > div .row .small-3:focus img {
  transform: scale(1.05);
  opacity: .6;
}
/* line 168, ../sass/_home.scss */
#our-people > div .row .small-3:hover span, #our-people > div .row .small-3:active span, #our-people > div .row .small-3:focus span {
  opacity: 1;
}

/* line 192, ../sass/_home.scss */
.form, .hours {
  padding: 5% 0;
}

/* line 196, ../sass/_home.scss */
.form {
  float: left;
  width: 70%;
  background-color: #414042;
  color: white;
}
/* line 201, ../sass/_home.scss */
.form .form-inner {
  margin: 0 auto;
  max-width: 42.54rem;
}
/* line 205, ../sass/_home.scss */
.form h2 {
  color: #cbcbcd;
  font-weight: 300;
}
/* line 209, ../sass/_home.scss */
.form p {
  margin-bottom: 1.5rem;
}
/* line 212, ../sass/_home.scss */
.form label {
  font-size: 1rem;
  color: #cbcbcd;
  font-weight: lighter;
  width: 15%;
  display: inline-block;
}
/* line 219, ../sass/_home.scss */
.form textarea, .form input {
  background: #414042;
  border: #414042;
  width: 84%;
  display: inline-block;
  color: #cbcbcd;
  font-weight: 300;
}
/* line 228, ../sass/_home.scss */
.form textarea:hover, .form textarea:focus, .form textarea:active, .form input:hover, .form input:focus, .form input:active {
  background-color: #414042;
  border: 1px solid #cbcbcd;
  color: #cbcbcd;
}
/* line 233, ../sass/_home.scss */
.form textarea input[type="text"], .form textarea input[type="password"], .form textarea input[type="date"], .form textarea input[type="datetime"], .form textarea input[type="datetime-local"], .form textarea input[type="month"], .form textarea input[type="week"], .form textarea input[type="email"], .form textarea input[type="number"], .form textarea input[type="search"], .form textarea input[type="tel"], .form textarea input[type="time"], .form textarea input[type="url"], .form textarea textarea, .form input input[type="text"], .form input input[type="password"], .form input input[type="date"], .form input input[type="datetime"], .form input input[type="datetime-local"], .form input input[type="month"], .form input input[type="week"], .form input input[type="email"], .form input input[type="number"], .form input input[type="search"], .form input input[type="tel"], .form input input[type="time"], .form input input[type="url"], .form input textarea {
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}
/* line 238, ../sass/_home.scss */
.form .button {
  float: right;
  background-color: #414042;
  border: 1px solid #cbcbcd;
  font-weight: 300;
  color: #cbcbcd;
  box-shadow: 0px 0px 0px red;
  width: auto;
}
/* line 247, ../sass/_home.scss */
.form .button:hover, .form .button:focus, .form .button:hover {
  color: white;
  border: 1px solid white;
  background-color: #414042;
}

/* line 254, ../sass/_home.scss */
.errors {
  margin: 0;
}
/* line 258, ../sass/_home.scss */
.errors li {
  list-style: none;
  color: #fa3214;
  font-weight: 300;
  font-size: 0.8rem;
}

/* line 265, ../sass/_home.scss */
.hours {
  float: left;
  width: 30%;
  background-color: #f6eb16;
}
/* line 269, ../sass/_home.scss */
.hours .hours-inner {
  max-width: 20rem;
  margin: 0 auto;
}
/* line 273, ../sass/_home.scss */
.hours h4, .hours p, .hours a {
  color: #414042;
  text-align: center;
}
/* line 277, ../sass/_home.scss */
.hours h4 {
  font-weight: 300;
}
/* line 280, ../sass/_home.scss */
.hours p {
  margin-bottom: 0;
}
/* line 283, ../sass/_home.scss */
.hours address {
  font-style: normal;
  font-weight: 300;
}

/* line 288, ../sass/_home.scss */
#map {
  background-color: #545256;
}

/* line 292, ../sass/_home.scss */
#traffic-map {
  height: 400px;
  width: 550px;
}

/* line 296, ../sass/_home.scss */
.gm-style-iw * {
  display: block;
  width: 100%;
}

/* line 300, ../sass/_home.scss */
.gm-style-iw h4, .gm-style-iw p {
  margin: 0;
  padding: 0;
}

/* line 304, ../sass/_home.scss */
.gm-style-iw a {
  color: #4272db;
}

@media only all and (max-width: 64em) {
  /* line 310, ../sass/_home.scss */
  p {
    border: 3px solid pink;
  }

  /* line 314, ../sass/_home.scss */
  #top-blurb > div, #middle-blurb > div, #our-people > div {
    width: 86%;
  }

  /* line 319, ../sass/_home.scss */
  #top-blurb > div, #middle-blurb > div {
    margin: 25% auto;
  }
}
@media only all and (max-width: 48em) {
  /* line 325, ../sass/_home.scss */
  p {
    border: 1px solid yellow;
  }

  /* line 331, ../sass/_home.scss */
  #our-people > div .row .small-3 {
    width: 25%;
  }

  /* line 337, ../sass/_home.scss */
  #top-boxes .row div h2, #middle-boxes .row div h2 {
    font-size: 1.3rem;
  }

  /* line 340, ../sass/_home.scss */
  .row-height, #top-boxes .row, #middle-boxes .row, #top-boxes .row, #middle-boxes .row {
    height: 200px;
    height: 25vh;
  }

  /* line 344, ../sass/_home.scss */
  .form, .hours {
    width: 100%;
    padding: 7% 5%;
  }
}
@media only all and (max-width: 38em) {
  /* line 350, ../sass/_home.scss */
  p {
    border: 1px solid blue;
  }

  /* line 354, ../sass/_home.scss */
  #hero img {
    width: 60%;
  }

  /* line 359, ../sass/_home.scss */
  #middle-blurb > div {
    margin: 40% auto;
  }

  /* line 364, ../sass/_home.scss */
  #top-blurb > div {
    margin: 20% auto;
  }

  /* line 369, ../sass/_home.scss */
  #middle-boxes .small-4, #middle-boxes .small-8, #top-boxes .small-4, #top-boxes .small-8 {
    width: 100%;
  }

  /* line 374, ../sass/_home.scss */
  #our-people > div {
    width: 86%;
    margin: 5% auto;
  }
  /* line 377, ../sass/_home.scss */
  #our-people > div .row .small-3 {
    width: 33.33%;
  }

  /* line 382, ../sass/_home.scss */
  .form {
    width: 100%;
  }
  /* line 384, ../sass/_home.scss */
  .form label {
    width: 28%;
  }
  /* line 387, ../sass/_home.scss */
  .form input, .form textarea {
    width: 70%;
  }
  /* line 390, ../sass/_home.scss */
  .form .button {
    width: 100%;
  }

  /* line 394, ../sass/_home.scss */
  .hours {
    width: 100%;
  }
}
@media only all and (max-width: 22em) {
  /* line 399, ../sass/_home.scss */
  p {
    border: 1px solid lime;
  }

  /* line 404, ../sass/_home.scss */
  #our-people > div .row .small-3 {
    width: 50%;
  }

  /* line 409, ../sass/_home.scss */
  .form, .hours {
    min-height: 336px;
    min-height: 70vh;
  }
  /* line 412, ../sass/_home.scss */
  .form .form-inner, .form .hours-inner, .hours .form-inner, .hours .hours-inner {
    width: 86%;
    margin: 5% auto;
  }
}
@media only all and (min-width: 48em) {
  /* line 420, ../sass/_home.scss */
  p {
    border: 1px solid orange;
  }

  /* line 424, ../sass/_home.scss */
  #hero img {
    width: 40%;
  }

  /* line 429, ../sass/_home.scss */
  #top-blurb > div, #middle-blurb > div, #our-people > div {
    max-width: 39.5em;
  }

  /* line 434, ../sass/_home.scss */
  #top-blurb > div, #middle-blurb > div {
    margin: 20% auto;
  }

  /* line 438, ../sass/_home.scss */
  #contact {
    min-height: 600px;
    min-height: 100vh;
  }

  /* line 442, ../sass/_home.scss */
  .form, .hours {
    padding: 3% 3%;
    height: 85vh;
  }

  /* line 449, ../sass/_home.scss */
  .hours {
    width: 40%;
  }

  /* line 453, ../sass/_home.scss */
  .form {
    width: 60%;
  }
  /* line 456, ../sass/_home.scss */
  .form label {
    width: 20%;
  }
  /* line 459, ../sass/_home.scss */
  .form input, .form textarea {
    width: 79%;
  }
}
@media only all and (min-width: 64em) {
  /* line 465, ../sass/_home.scss */
  p {
    border: 1px solid red;
  }

  /* line 469, ../sass/_home.scss */
  #hero img {
    width: 30%;
  }

  /* line 473, ../sass/_home.scss */
  .form, .hours {
    padding: 3% 5%;
    height: 80vh;
  }

  /* line 478, ../sass/_home.scss */
  #top-blurb > div, #middle-blurb > div, #our-people > div {
    max-width: 49.5em;
  }
}
@media only all and (min-width: 78em) {
  /* line 486, ../sass/_home.scss */
  p {
    border: 1px solid purple;
  }
}
@media only all and (min-width: 88em) {
  /* line 502, ../sass/_home.scss */
  p {
    border: 1px solid #333;
  }

  /* line 510, ../sass/_home.scss */
  #top-blurb > div, #middle-blurb > div, #our-people > div {
    max-width: 59.5em;
  }
}
/* line 2, ../sass/_awards-clients.scss */
#awards-page, #clients-page {
  padding-top: 120px;
}
/* line 4, ../sass/_awards-clients.scss */
#awards-page .sub-heading, #clients-page .sub-heading {
  margin: 20px auto 50px;
  text-align: center;
}
/* line 7, ../sass/_awards-clients.scss */
#awards-page .sub-heading h1, #clients-page .sub-heading h1 {
  padding-bottom: 0;
}
/* line 10, ../sass/_awards-clients.scss */
#awards-page .sub-heading p, #clients-page .sub-heading p {
  font-size: 14px;
  color: #8c8a8f;
  max-width: 350px;
  margin: 0 auto;
  font-weight: 400;
  line-height: 17px;
}
/* line 19, ../sass/_awards-clients.scss */
#awards-page .awards, #clients-page .awards {
  max-width: 62.5em;
  width: 80%;
  margin: 0 auto 50px;
  text-align: center;
}
/* line 24, ../sass/_awards-clients.scss */
#awards-page .awards > div, #clients-page .awards > div {
  display: inline-block;
}
/* line 27, ../sass/_awards-clients.scss */
#awards-page .awards > div .img-wrap, #clients-page .awards > div .img-wrap {
  width: 100%;
  text-align: center;
}
/* line 31, ../sass/_awards-clients.scss */
#awards-page .awards > div img, #clients-page .awards > div img {
  max-width: 70%;
  max-height: 90%;
  margin: 0 auto 10px;
  display: inline;
  vertical-align: middle;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
/* line 38, ../sass/_awards-clients.scss */
#awards-page .awards > div img:hover, #awards-page .awards > div img:active, #awards-page .awards > div img:focus, #clients-page .awards > div img:hover, #clients-page .awards > div img:active, #clients-page .awards > div img:focus {
  transform: scale(1.05);
}

/* line 50, ../sass/_awards-clients.scss */
#awards-page > p {
  font-size: 12px;
}
/* line 52, ../sass/_awards-clients.scss */
#awards-page > p:last-child {
  margin-bottom: 10px;
}
/* line 56, ../sass/_awards-clients.scss */
#awards-page .awards > div {
  width: 32.333%;
  padding: 20px 2.4%;
}
/* line 59, ../sass/_awards-clients.scss */
#awards-page .awards > div h5, #awards-page .awards > div h6, #awards-page .awards > div p {
  font-size: 10px;
  margin: 0;
  text-align: center;
}
/* line 64, ../sass/_awards-clients.scss */
#awards-page .awards > div h5 {
  font-weight: 400;
}
/* line 67, ../sass/_awards-clients.scss */
#awards-page .awards > div h6 {
  font-weight: 200;
}
/* line 71, ../sass/_awards-clients.scss */
#awards-page .awards > div .img-wrap {
  height: 170px;
  line-height: 170px;
}

/* line 81, ../sass/_awards-clients.scss */
#clients-page .awards > div {
  width: 19%;
  padding: 10px 0;
}
/* line 84, ../sass/_awards-clients.scss */
#clients-page .awards > div .img-wrap {
  height: 120px;
  line-height: 120px;
}
/* line 88, ../sass/_awards-clients.scss */
#clients-page .awards > div img {
  margin: 0 auto;
}
/* line 91, ../sass/_awards-clients.scss */
#clients-page .awards > div:nth-child(11) {
  width: 39%;
}
/* line 94, ../sass/_awards-clients.scss */
#clients-page .awards > div:nth-child(11) img {
  max-width: 80%;
}
/* line 98, ../sass/_awards-clients.scss */
#clients-page .awards > div:nth-child(15), #clients-page .awards > div:nth-child(16), #clients-page .awards > div:nth-child(17), #clients-page .awards > div:nth-child(18) {
  width: 24%;
}

@media only all and (max-width: 64em) {
  /* line 112, ../sass/_awards-clients.scss */
  #clients-page .awards > div, #clients-page .awards div:nth-child(11), #clients-page .awards div:nth-child(15), #clients-page .awards div:nth-child(16), #clients-page .awards div:nth-child(17), #clients-page .awards div:nth-child(18) {
    width: 32%;
  }
}
@media only all and (max-width: 48em) {
  /* line 123, ../sass/_awards-clients.scss */
  #awards-page .awards > div {
    width: 49%;
  }

  /* line 128, ../sass/_awards-clients.scss */
  #clients-page .awards > div, #clients-page .awards div:nth-child(11), #clients-page .awards div:nth-child(15), #clients-page .awards div:nth-child(16), #clients-page .awards div:nth-child(17), #clients-page .awards div:nth-child(18) {
    width: 49%;
  }
}
@media only all and (max-width: 38em) {
  /* line 138, ../sass/_awards-clients.scss */
  #awards-page .awards > div {
    width: 100%;
  }
}
@media only all and (max-width: 22em) {
  /* line 145, ../sass/_awards-clients.scss */
  #awards-page .sub-heading, #clients-page .sub-heading {
    margin: 20px 8% 50px;
  }

  /* line 151, ../sass/_awards-clients.scss */
  #clients-page .awards > div, #clients-page .awards div:nth-child(11), #clients-page .awards div:nth-child(15), #clients-page .awards div:nth-child(16), #clients-page .awards div:nth-child(17), #clients-page .awards div:nth-child(18) {
    width: 100%;
  }
}
/** 
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  /* line 7, ../sass/_media.scss */
  #hero {
    height: 1024px;
  }
}
/** 
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  /* line 16, ../sass/_media.scss */
  #hero {
    height: 768px;
  }
}
/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40 / 71) {
  /* line 26, ../sass/_media.scss */
  #hero {
    height: 500px;
  }
}
