{# Recipe Index page #}
{% extends  '_layout' %}
{% block main %}
    <div class="page-title">
        <h2>Stout</h2>

        <p>A description of the stout style goes here.</p>
    </div>
    <div class="large-12 small-12 columns">
        <table width="100%">
            <tr>
                <th>Beer Name</th>
                <th>Original Brew Date</th>
                <th>Style</th>
            </tr>
            <tr>
                <td><a href="">Unabridged Stout</a></td>
                <td>September 2015</td>
                <td>Stout</td>
            </tr>
        </table>
    </div>
{% endblock %}