//------------------------------------Awards and Clients Page----------------------------------------
#awards-page, #clients-page{
	padding-top:120px;
	.sub-heading{
		margin:20px auto 50px;
		text-align: center;
		h1{
			padding-bottom:0;
		}
		p{
			font-size: 14px;
			color: $mid-color;
			max-width: 350px;
			margin:0 auto;
			font-weight: 400;
			line-height: 17px;
		}
	}
	.awards{
		max-width: 62.5em;
		width: 80%;
		margin: 0 auto 50px;
		text-align: center;
		& > div{
			display: inline-block;
			@extend .box;
			.img-wrap{
				width:100%;
				text-align: center;
			}
			img{
				max-width: 70%;
				max-height: 90%;
				margin: 0 auto 10px;
				display: inline;
				vertical-align: middle;
				@include transition(.6s);
				&:hover, &:active, &:focus{
					transform: scale(1.05);
				}
			}
			
			
		}
	}
}

//Awards page thumbnails
#awards-page{
	& > p{
		font-size: 12px;
		&:last-child{
			margin-bottom:10px;
		}
	}
	.awards > div{
		width: 32.333%;
		padding: 20px 2.4%;
		h5, h6, p{
			font-size: 10px;
			margin: 0;
			text-align: center;
		}
		h5{
			font-weight: 400;
		}
		h6{
			font-weight: 200;
		}
		
		.img-wrap{
			height: 170px;
			line-height: 170px;
		}
	}
} 

//Clients page thumbnails
#clients-page{
	.awards{
		& > div{
			width: 19%;
			padding: 10px 0;
			.img-wrap{
				height: 120px;
				line-height: 120px;
			}
			img{
				margin:0 auto;
			}
			&:nth-child(11){
				// border:1px solid lime;
				width: 39%;
				img{
					max-width:80%;
				}
			}
			&:nth-child(15), &:nth-child(16), &:nth-child(17), &:nth-child(18){
				// border:1px solid lime;
				width: 24%;
				img{
					// max-width:80%;
				}
			}
		} 
	} 
}
//Media Queries
@media only all and (max-width: 64em){
	#clients-page{
		.awards{
			& > div, div:nth-child(11), div:nth-child(15), div:nth-child(16),div:nth-child(17),div:nth-child(18){
		    	width: 32%;
			}
		} 
	} 
	
	// #clients-page .awards > div:nth-child(15), #clients-page .awards > div:nth-child(16), #clients-page .awards > div:nth-child(17), #clients-page .awards > div:nth-child(18){

	// }
}
@media only all and (max-width: 48em){
	#awards-page .awards > div{
		width: 49%;
	}
	#clients-page{
		.awards{
			& > div, div:nth-child(11), div:nth-child(15), div:nth-child(16),div:nth-child(17),div:nth-child(18){
		    	width: 49%;
			}
		} 
	} 
	// #clients-page .awards > div {
	//     width: 32%;
	// }
}
@media only all and (max-width: 38em){
	#awards-page .awards > div{
		width: 100%;
	}
	 
}
@media only all and (max-width: 22em){
	#awards-page, #clients-page {
		.sub-heading{
			margin: 20px 8% 50px;
		}
	} 
	#clients-page{
		.awards{
			& > div, div:nth-child(11), div:nth-child(15), div:nth-child(16),div:nth-child(17),div:nth-child(18){
		    	width: 100%;
			}
		} 
	}
}