//------------------------------------Home Page----------------------------------------

#hero{
	width:100%;
	vertical-align:middle;
	background: $dark-color url("../img/hero-img.png") center center / cover no-repeat; 
	img{
		@include vertical-align();
		width: 60%;
		margin:0 auto;
		display:block;
	}
}
#top-blurb{
	background-image: url("../img/fish.png");
	background-position: 96% 4%;
	background-size: 20%;
	background-repeat:no-repeat;
	b{
		font-weight:400;
	}
	div{
		margin:25% auto;
		h1, p{
			color: $dark-color;
			text-align: center;
		}
	}
}
#top-boxes{
	.row{
		width:100%;
		max-width: none;
		@extend .row-height;
		div{
			display: inline-block;
			height:100%;
			text-align:center;
			h2{
				font-weight:300;
				color:white;
				@include vertical-align();
			}
		}
		&:first-child{
			.small-8{
				float:right;
				background-color: $dark-color;
			}
			.small-4{
				float:right;
				background-color: $highlight-color;
			}
		}
		&:nth-child(2){
			.small-4{
				float:left;
				background-color: $highlight-color;
			}
			.small-8{
				float:left;
				background-color: $highlight-color2;
				h2{
					color: $dark-color;
				}
			}
		}
	}
}
#middle-blurb{
	background-image: url("../img/orange-background.jpg");
	background-size:cover;
	margin:0;
	max-width:none;
		div{
			margin:40% auto;
		h2, p{
			color: $dark-color;
			text-align: center;
		}
		h2{
			margin-bottom:5%;
		}
	}
}

#middle-boxes{
	.row{
		@extend .row-height;
		max-width:none;
		div{
			display: inline-block;
			float:left;
			height:100%;
			text-align:center;
			h2, h2 a{
				font-size: 1.6rem;
				color: white;
				font-weight: 200;
				@include vertical-align();
			}
		}
		.small-4{
			&:first-child{
				background-color: $highlight-color;
			}
			&:nth-child(2){
				background-color: $highlight-color2;
				h2{
					color: $dark-color;
				}
			}
			&:nth-child(3){
				background-color: $dark-color;
			}
		}
	}
}

#our-people{
	text-align:center;
	&>div{
		margin:5% auto;
		h2{
			color: $dark-color;
			text-align: center;
			margin-bottom:40px;
		}
		.row{
			.small-3{
				
				display:inline-block;
				overflow: hidden;
				float:left;
				h6{
					margin-top:0;
					font-weight:lighter;
					font-size: 12px;
					text-align: center;
					margin:88% 0 0;
					padding:3px 0;
					color:black;
					letter-spacing: 0.5px;
				}
				span{
					z-index: 10;
					opacity: 0;
					position: absolute;
					width:100%;
					left:0;
					bottom:0;
					@include transition(1s);
				}
				img{
					z-index: 0;
					opacity:1;
					width:100%;
					@include transition(1s);
				}
				&:hover, &:active, &:focus{
					// border:1px solid red;
					// background-color: $light-color;
					img{
						transform: scale(1.05);
						// background-color: $light-color;
						opacity:.6;
					}
					span{
						// background-color: rgba(64, 62, 65, 0.4);
						// background-color: rgba(255, 255, 255, 0.6);
						opacity:1;
						h6{
							//background-color: $mid-color;
							// padding:90% 0;
							//color: white;
							// color: $dark-color;
						}
					}
				}
				// &:first-child{
				// 	background-image: url('img/Traffic-Staff-2012-Barry-Bloomfield.jpg');
				// 	background-size:100%;
				// }
			}
		}
	}
}
#contact{
	// height:900px;
	// height:100vh;
}
.form, .hours{
	padding: 5% 0;
	// height:70vh;
}
.form{
	float:left;
	width: 70%;
	background-color: $dark-color;
	color:white;	
	.form-inner{
		margin:0 auto;
		max-width: 42.54rem;
	}
	h2{
		color:$light-color;
		font-weight:300;
	}
	p{
		margin-bottom:1.5rem;
	}
	label{
		font-size:1rem;
		color:$light-color;
		font-weight:lighter;
		width: 15%;
		display: inline-block;
	}
	textarea, input{

		background: $dark-color;
		//border-radius: 5px;
		border: $dark-color;
		width: 84%;
		display: inline-block;
		color:$light-color;
		font-weight:300;
		&:hover, &:focus, &:active{
			background-color: $dark-color;
			border:1px solid $light-color;
			color: $light-color;
		}
		input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
			-webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
    		box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
		}
	}
	.button{
		float:right;
		background-color: $dark-color;
		border: 1px solid $light-color;
		font-weight:300;
		color: $light-color;
		box-shadow:0px 0px 0px red;
		width:auto;
		//border-radius:5px;
		&:hover, &:focus, &:hover{
			color:white;
			border:1px solid white;
			background-color: $dark-color;
		}
	}
}
.errors{
	margin: -23px 0 0 140px;
    position: absolute;
	li{
		list-style:none;
		color:$error-color;
		font-weight:300;
		font-size:0.8rem;
	}
}
.hours{
	float:left;
	width: 30%;
	background-color: $highlight-color2;
	.hours-inner{
		max-width:20rem;
		margin:0 auto;
	}
	h4, p, a{
		color: $dark-color;
		text-align:center;
	}
	h4{
		font-weight:300;
	}
	p{
		margin-bottom:0;
	}
	address{
		font-style: normal;
		font-weight:300;
	}
}
#map{
	background-color:#545256;
}

 #traffic-map {
    height:400px;
    width:550px;
}
.gm-style-iw * {
    display: block;
    width: 100%;
}
.gm-style-iw h4, .gm-style-iw p {
    margin: 0;
    padding: 0;
}
.gm-style-iw a {
    color: #4272db;
}

//Media Queries
@media only all and (max-width: 64em){
	p{
		border:3px solid pink;
	}
	#top-blurb, #middle-blurb, #our-people {
		& > div {
		    width: 86%;
		}
	}
	#top-blurb, #middle-blurb{
		& > div {
		    margin: 25% auto;
		}
	}
}
@media only all and (max-width: 48em){
	p{
		border:1px solid yellow;
	}
	#our-people{
		> div {
			.row{
				.small-3 {
				    width: 25%;
				}
			}
		}
	} 
	#top-boxes .row div h2, #middle-boxes .row div h2{
		font-size:1.3rem;
	}
	.row-height, #top-boxes .row, #middle-boxes .row {
	    height: 200px;
	    height: 25vh;
	}	
	.form, .hours{
		width: 100%;
		padding: 7% 5%;
	}
}
@media only all and (max-width: 38em){
	p{
		border:1px solid blue;
	}
	#hero{
		img{
			width:60%;
		}
	}
	#middle-blurb{
		& > div{
			margin: 40% auto;
		}
	}
	#top-blurb{
		& > div{
			margin: 20% auto;
		}
	}
	#middle-boxes, #top-boxes{
		.small-4, .small-8{
			width:100%;
		}
	}
	#our-people{
		& > div{
			width:86%;
			margin:5% auto;
			.row .small-3{
				width:33.33%;
			}
		}
	}
	.form{
		width:100%;
		label{
			width:28%;
		}
		input, textarea{
			width:70%;
		}
		.button{
			width:100%;
		}
	}
	.hours{
		width:100%;
	}
}
@media only all and (max-width: 22em) { 
	p{
		border:1px solid lime;
	} 
	#our-people{
		& > div{
			.row .small-3{
				width:50%;
			}
		}
	}
	.form, .hours{
		min-height:336px;
		min-height: 70vh;
		.form-inner, .hours-inner{
			width: 86%;
			margin: 5% auto;
		}
	}

}
@media only all and (min-width: 48em){
	p{
		border:1px solid orange;
	}
	#hero{
		img{
			width: 40%;
		}
	}
	#top-blurb, #middle-blurb, #our-people {
		& > div{
			max-width: 39.5em;
		}
	}
	#top-blurb, #middle-blurb {
		& > div{
			margin: 20% auto;
		}
	}
	#contact{
		min-height:600px;
		min-height:100vh;
	}
	.form, .hours{
		padding: 3% 3%;
		height:85vh;
		.hours-inner, .form-inner{
			
		}
	}
	.hours{
		width: 40%;
		
	}
	.form{
		
		width: 60%;
		label{
			width:20%;
		}
		input, textarea{
			width:79%;
		}
	} 
}
@media only all and (min-width: 64em){
	p{
		border:1px solid red;
	}
	#hero{
		img{
			width: 30%;
		}
	}
	.form, .hours {
	    padding: 3% 5%;
	    height: 80vh;
	}
	#top-blurb, #middle-blurb, #our-people {
		& > div{
			// border: 1px dotted lime;
			max-width: 49.5em;
		}
	}
}

@media only all and (min-width: 78em){
	p{
		border:1px solid purple;
	}
	// .form, .hours {
	// 	padding:2% 5%;
	//     height: 66vh;
	// }
	#top-blurb, #middle-blurb, #our-people {
		& > div{
			// border: 1px dotted lime;
			// max-width: 59.5em;
		}
	}
}

@media only all and (min-width: 88em){
	p{
		border:1px solid #333;
	}
	// .form, .hours {
	// 	padding:2% 5%;
	//     height: 66vh;
	// }
	#top-blurb, #middle-blurb, #our-people {
		& > div{
			// border: 1px dotted lime;
			max-width: 59.5em;
		}
	}
}