// Traffic Redesign
// font-family: 'Roboto', sans-serif;

//------------------------------------Variables----------------------------------------
$highlight-color:#f47920;
$highlight-color2:#f6eb16;
$light-color:#cbcbcd;
$dark-color:#414042;
// $mid-color:#3a3a3c;
$mid-color:#8c8a8f;
$error-color:#FA3214;

$h1-font-size:1.7rem;
$h2-font-size:1.6rem;
$h3-font-size:1.4rem;
$p-font-size:1rem;
$footer-font-size:0.7rem;

$font:'Roboto', sans-serif;

$small-text-box: 458px;


//------------------------------------Imports----------------------------------------

@import 'mixins';
@import 'repeat';
@import 'home';
@import 'awards-clients';
@import 'media';